- content_for :title, "Rankings"
.rankings
  %ol
    - @rankings.each do |player|
      %li{class: cycle("even", "odd")}
        = link_to player do
          = player_avatar player, :thumb
          = player.display_name
        .badges
          - player.achievements.each do |achievement|
            = link_to achievement_path(achievement.slug), rel: 'popover', data: {title: achievement.title, content: achievement.description, trigger: 'hover'} do
              %i{class: achievement.badge}
          .clearfix
        .clearfix
