- content_for :title, "Rankings"

%ol
  - @rankings.each do |player|
    %li{class: cycle("even", "odd")}
      = link_to player.display_name, player
      .badges
        - player.achievements.each do |achievement|
          %i{class: achievement.badge, title: achievement.title}
        .clearfix
