// general
$links: #2183c2;
$links_hover: #1a6696;
$large_badge: #2183c2;
$main_border: #0071cc;
$header_background: #fff;
$header_border: #eee;

// player show
$player_header: #c41230;
$win_percentage: #c41230;