// general
$links: #2183c2;
$links_hover: #1a6696;
$large-badge: #2183c2;
$main_border: #d44b00;
$header_background: #fff;
$header_border: #eee;

// player show
$player_header: #d44b00;
$win_percentage: #d44b00;