.admin {
  textarea { width: 100%; }
  li, ul {
    padding: 0;
    line-height: normal;
  }
  table {
    th, td {
      text-align: left;
    }
    th.title {
      width: 730px;
    }
    &.site_settings {
      td.value input[type='text'] {
        width: 96%;
      }
      i {
        color: #aaa;
      }
    }
  }
}
