@import 'colors';

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #cce4f7;
}

body > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

h1, h3 {
  font-size: 36px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: $links;
  &.current {
    color: #eee;
    background-color: $links;
    border-radius: 4px;
    padding: 5px;
  }
  &:hover {
    text-decoration: none;
    color: $links_hover;
  }
}

header {
  background-color: $header_background;
  border-bottom: 2px solid $header_border;
  padding: 15px 0 10px 0;
  margin-bottom: 40px;
}

nav {
  height: 30px;
  a {
    margin-right: 20px;
  }
}

footer {
  font-size: 12px;
  a {
    float: right;
  }
}

ol {
  font-size: 48px;
  margin: 10px 10px 20px 100px;
  li { list-style-position: outside; }
}

li {
  padding: 5px 2.5%;
  width: 95%;
  line-height: 48px;
}

li, td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
  margin: 10px 0px;
  width: 100%;
}

tr {
  height: 20px;
}

th, td {
  padding: 2px 5px;
  vertical-align: middle;
}

th {
  background-color: #333;
  color: white;
  overflow: hidden;
}

td {
  text-align: center;
  width: 200px;
}

form {
  margin: 10px 0;
}

input[type='text'] {
  font-size: 24px;
  display: block;
  width: 100%;
  border-radius: 3px;
}

td.date, th.date {
  width: 100px;
  text-align: center;
}

td.action, th.action {
  font-size: 12px;
  width: 200px;
  text-align: center;
}
marquee {
  width: 300px;
  float: right;
}

#page, .logo-area {
  width: 1000px;
  margin: 0 auto;
}
#page {
  margin-bottom: 20px;
}
.logo-area img {
 max-height: 50px;
}
#page {
  border: 2px solid $main_border;
  border-radius: 5px;
  padding: 25px;
  background-color: #dedede;
  position: relative;
}

.even {
  background-color: #f0f0f0;
}

.odd {
  background-color: #e7e7e7;
}

.tabs {
  margin-top: 20px;
}

.tab-bar {
  list-style-type: none;
  margin-bottom: 20px;
  li { display: inline; }
}

.flash {
  margin-bottom: 10px;
  .alert {
    color: white;
    border: 1px solid #8b0000;
    background-color: #db7093;
    padding: 10px;
    border-radius: 4px;
  }
  .notice {
    color: green;
    border: 1px solid #2e8b57;
    background-color: #98fb98;
    padding: 10px;
    border-radius: 4px;
  }
}
.badges {
  font-size: 20px;
  height: 40px;
  width: 230px;
  display: inline-block;
  margin-bottom: -5px;
  h2 { margin-bottom: 10px; }
  a {
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
  }
  p {
    white-space: normal;
    line-height: 13px;
    font-size: 13px;
  }
}

.rankings {
  .badges {
    float: right;
    a { float: right; }
  }
}
.player {
  .avatar, .player_stats, .player_stat { float: left; }
  .avatar {
    width: 350px;
    img { border: 1px solid #708090; }
  }
  .badges {
    width: 100%;
    display: block;
    a { padding-right: 10px; }
  }
  .player_stats {
    width: 360px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 10px;
  }
  .player_stat { width: 180px; }
  .odds {
    text-align: left;
    select {
      width: 200px;
      float: left;
    }
    h3 {
      float: left;
      width: 100px;
      text-align: center;
      margin-top: -6px;
      color: $win_percentage;
      margin-left: 15px;
    }
  }
  .totem_pole {
    float: left;
    width: 166px;
    margin-left: 30px;
    .totem {
      width: 166px;
      position: relative;
    }
    .totem_0 {
      background: url('totem_0.png');
      height: 75px;
    }
    .totem_1 {
      background: url('totem_1.png');
      height: 77px;
    }
    .totem_2 {
      background: url('totem_2.png');
      height: 76px;
    }
    .totem_3 {
      background: url('totem_3.png');
      height: 78px;
    }
    .totem_avatar {
      height: 50px;
      width: 50px;
      position: absolute;
      top: 10px;
      left: 58px;
    }
  }
}
.player > h1 { color: $player_header; }

.achievements {
  td, th {
    text-align: left;
    &.icon  {
      width: 100px;
      text-align: center;
    }
  }
}

.post {
  li {
    line-height: inherit;
    white-space: normal;
  }
  border-bottom: 1px solid #999;
}

.badge-large {
  font-size: 40px;
  line-height: 40px;
  color: $large_badge;
}

.badge-wrap {
  margin-bottom: 20px;
  .badge-large, .badge-wrap-right {
    display: inline-block;
  }
}

.modal {
  width: 700px;
  margin-left: -350px;
  th {
    text-align: center;
  }
}
.change_photo { display: none; }

.stat {
  position: relative;
  background-color: #888;
  h1 {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.icon-bobby {
  background: transparent url('bobby.png') no-repeat top left;
  height: 20px;
  width: 20px;
}

td .icon-bobby {
  display: block;
  margin: 0 auto;
}

.badge-wrap .icon-bobby {
  background: transparent url('bobby-large.png') no-repeat top left;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}