- content_for :title, "Achievements"
.achievements
  %h2 Achievements
  %table
    %tr
      %th.icon Badge
      %th Title
      %th Description
    - @achievements.each do |achievement|
      %tr{class: cycle("even", "odd")}
        %td.icon
          %i{class: achievement.badge}
        %td= link_to achievement.title, achievement_path(achievement.slug)
        %td= achievement.description
